input{
    margin-bottom: 10px;
    width: 40%;
    padding: 8px;
    font-size: 10px;
    font-weight: bold;
}
button{
    border:none;
    padding: 5px;
    width: 40%;
    font-weight: bold;
    font-size: 12px;
    background-color: antiquewhite;
    cursor: pointer;
}
label{
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    background-color: antiquewhite;
    color: #000;
}
a{
    font-size: 20px;
    color:red;
    font-weight: bold;
    margin-bottom: 55px;
}
.logo-color{
    margin-top: 50px;
    width: 450px;
    background-color: #fff;
    color: #fff;
}